@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    font-family: 'Righteous', cursive;
}
.header-style
{
    display: flex;
    padding: 30px;
    justify-content: center;
    background-color: #f2654c;
}

.container{
    padding: 20px;
}

.btn
{
    background-color: #f2894c;
    border: 2px solid blueviolet;
    padding: 12px;
    cursor: pointer;
    width: 25%;
    border: 1px solid olive;
    border-radius: 6px;
    margin: 20px 55px
}
.btn:hover{
    border: 2px solid brown;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2734c;
    text-align: center;
 }
 textarea{
     padding: 20px;
     width: 50%;
     margin: 20px;
     border: 2px solid blueviolet;
     border-radius: 10px;
     
 }
 textarea:hover{
     border: 2px solid brown;
     border-radius: 10px;
 }